<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body class="container-fluid pt-3 bg-light">
    <div>
        {% block header %}
        <div class="container-md pt-3 my-3 border bg-dark text-white">
            <h1>Welcome to Concierge App!</h1>
            <p>This is an awesome programm to control attendance in your
            hostel.</p>
        </div>
        {% endblock %}
        {% block main %}
        <div class="container-md pt-3 my-3 border bg-primary text-white links-white">
            <h3><p>Concierge Api!</p></h3>
            <h2>
                <p>
                    To get information is you are looking for simply use the following syntax:
                </p>
            </h2>
            <p>
            /api/model_type/model_id</br>
            Example:</br>
            http://hostname/api/tenant/1
            </p>
            <p>
                You can pass "format" argument in query string(optional).
                Example:</br>
                http://hostname/api/tenant/1?format=xml</br>
                JSON is a default one!
            </p>
            
            
            <p><a class="text-white bg-dark" href="/">Home!</a></p>
        </div>
        {% endblock %}
    </div>
</body>
</html>
