{% extends 'index.html' %}
{% block header %} 
       <div class="container-md pt-3 my-3 border bg-dark text-white">
            <h1>Update Hostel Journal!</h1>
            <p>Please fill in all neccessary fields.</p>
        </div>
{% endblock %}
{% block main %}
<div class="container-md pt-3 my-3 border bg-primary text-white">
    <form method="post">
        {% csrf_token %}
        <label>Please enter tenant first name:</label>
        <input type="text" name="tenant_first_name"></br>
        <label>Please enter tenant last name:</label>
        <input type="text" name="tenant_last_name"></br>
        <label> Please enter number of guests:</label>
        <input type="number" min="0" name="guests" value="0"></br>
        <label> Please enter number of room:</label>
        <input type="text" name="room_number"></br>
        <input type="checkbox" name="clear_the_room" value="true"> Clear the
        room</br>
        <label> Please enter comments if any:</label>
        <input type="text" name="comments"></br>
        <input type="submit"/>
        <input type="reset"/>
    </form>
</div>
{% endblock %}
