{% extends 'index.html' %}
{% block header %} 
       <div class="container-md pt-3 my-3 border bg-dark text-white">
            <h1>Hostel Journal!</h1>
            <p>Below is a result of your query.</p>
        </div>
{% endblock %}
{% block main %}
<div class="container-md pt-3 my-3 border bg-primary text-white">
    {% if err_message %}
    <span class="text-warning">{{ err_message }}</span>
    {% endif %}
    <table class="table">
        <tr>
            <td>Room number</td>
            <td>Tenant first name</td>
            <td>Tenant last name</td>
            <td>Tenant phone</td>
            <td>Tenant got key</td>
            <td>Tenant returned key</td>
            <td>Guests</td>
            <td>Room status</td>
            <td>Key on reception</td>
            <td>Comments</td>
        </tr>
        {% for elem in journal %}
        <tr>
            <td>{{ elem.room.number }}</td>
            <td>{{ elem.tenant.first_name }}</td>
            <td>{{ elem.tenant.last_name }}</td>
            <td>{{ elem.tenant.phone }}</td>
            <td>{{ elem.key_on_hands }}</td>
            <td>{{ elem.key_is_back }}</td>
            <td>{{ elem.guests }}</td>
            <td>{{ elem.room.status }}</td>
            <td>{{ elem.key_is_kept }}</td>
            <td>{{ elem.comments }}</td>
        </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}
