{% extends 'index.html' %}
{% block header %} 
       <div class="container-md pt-3 my-3 border bg-dark text-white">
            <h1>Update Hostel Journal!</h1>
            <p>Please fill in all neccessary fields.</p>
        </div>
{% endblock %}
{% block main %}
<div class="container-md pt-3 my-3 border bg-primary text-white">
    <form method="post">
        {% csrf_token %}
        <label>Please enter tenant first name:</label>
        <input type="text" name="tenant__first_name"></br>
        <label>Please enter tenant last name:</label>
        <input type="text" name="tenant__last_name"></br>
        <label> Please enter number of room:</label>
        <input type="number" name="room__number"></br>
        <input type="submit"/>
        <input type="reset"/>
    </form>
</div>
{% endblock %}
